@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 0;
}

textarea, input {
  font: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --dark: #0D0D12;
  --dark-2: #232328;
  --dark-bg: #18181D;
  --light-bg: #F7F9FB;
  --main: #41A4DF;
  --deep-main: #297ee2;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Semi Bold"), local("Inter-Semi-Bold"), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Regular"), local("San-Francisco-Pro-Display-Regular"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Medium"), local("San-Francisco-Pro-Display-Medium"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Bold"), local("San-Francisco-Pro-Display-Bold"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF-Mono";
  src: url("..fonts/SF-Mono-Regular.woff2") format("woff2"), url("..fonts/SF-Mono-Regular.woff") format("woff"), url("..fonts/SF-Mono-Regular.woff") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Inter";
  font-weight: 500;
  font-size: calc(18px + 2 * (100vw - 375px) / 1545);
  line-height: 1.2;
  color: var(--dark);
  background-color: #fff;
}
body.dark-theme {
  background-color: var(--dark);
  color: white;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1240px;
}

.btn {
  background-color: var(--main);
  padding: calc(12px + 6 * (100vw - 375px) / 1545);
  padding-left: calc(32px + 10 * (100vw - 375px) / 1545);
  padding-right: calc(32px + 10 * (100vw - 375px) / 1545);
  font-size: calc(18px + 2 * (100vw - 375px) / 1545);
  border: 1px solid transparent;
  color: white;
  border-radius: 100px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (pointer: fine) {
  .btn:hover {
    background-color: var(--deep-main);
  }
}
.btn_sec {
  background-color: rgba(var(--deep-main), 0.12);
  color: var(--deep-main);
}
@media (pointer: fine) {
  .btn_sec:hover {
    background-color: rgba(65, 164, 223, 0.16);
  }
}
.btn_hollow, body.dark-theme .header__action-btn {
  border-color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}
@media (pointer: fine) {
  .btn_hollow:hover, body.dark-theme .header__action-btn:hover {
    background-color: transparent;
    border-color: white;
  }
}

.title {
  font-size: calc(32px + 24 * (100vw - 375px) / 1545);
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
  letter-spacing: -1px;
}
.title span {
  color: var(--main);
}

.subtitle {
  font-size: calc(28px + 14 * (100vw - 375px) / 1545);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1px;
}

.text {
  font-weight: 400;
}

.tg {
  padding-left: calc(20px + 26 * (100vw - 375px) / 1545);
  padding-right: calc(20px + 26 * (100vw - 375px) / 1545);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tg * {
  font-family: "San Francisco Pro";
  font-weight: 400;
}
.tg__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}
.tg__actions {
  border-radius: calc(9px + 7 * (100vw - 375px) / 1545);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}

.tg-msg {
  background-color: #fff;
  color: var(--dark);
  border-radius: 5px;
  padding: 7px 11px;
  word-break: break-word;
  font-size: calc(14px + 6 * (100vw - 375px) / 1545);
  position: relative;
}
.tg-msg img {
  height: 1em;
  vertical-align: middle;
  margin-right: 0.2em;
}
.tg-msg b {
  font-weight: 700;
}
.tg-msg:first-child {
  border-radius: calc(9px + 7 * (100vw - 375px) / 1545);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.tg-msg:not(:last-child) {
  margin-bottom: 3px;
}
.tg-msg .time {
  color: rgba(17, 17, 17, 0.4);
  font-weight: 500;
  font-size: 0.75em;
  padding-left: 5px;
  padding-top: 0.4em;
  float: right;
}
.tg-msg .clear {
  clear: both;
}
.tg-msg.tail {
  border-bottom-left-radius: calc(9px + 7 * (100vw - 375px) / 1545);
  border-bottom-right-radius: calc(9px + 7 * (100vw - 375px) / 1545);
}
.tg-msg.tail::before {
  content: "";
  background: url("../img/icons/msg-tail.svg") bottom right/contain no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 100%;
  bottom: 0;
  display: block;
  transform: translateX(70%);
}

.tg-link {
  background-color: #96adc6;
  position: relative;
}
.tg-link::after {
  content: "";
  background: url("../img/icons/tg-link.svg") center/contain no-repeat;
  position: absolute;
  width: 7px;
  height: 7px;
  top: 6px;
  right: 6px;
}

.tg-action {
  font-weight: 500;
  color: white;
  width: 100%;
  padding: 11px 0;
  border-radius: 5px;
  text-align: center;
  font-size: calc(10px + 9 * (100vw - 375px) / 1545);
}

.tg-code {
  background-color: var(--dark);
  padding: 11px;
  font-family: "SF-Mono", monospace;
  line-height: 1.5;
  color: white;
  font-size: calc(12px + 6 * (100vw - 375px) / 1545);
}
.tg-code .blue {
  color: #61baef;
}
.tg-code .yellow {
  color: #fcef8f;
}
.tg-code .red {
  color: #d46565;
}
.tg-code pre {
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}

.blue {
  color: var(--main);
  font-weight: 500;
}

body.dark-theme .text {
  color: rgba(255, 255, 255, 0.8);
}

img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.header {
  padding-top: 44px;
}
.header__container {
  display: flex;
  padding-top: 9px;
  padding-bottom: 9px;
  align-items: center;
  gap: 8px;
}
.header__logo {
  flex: 1;
}
.header__menu {
  display: none;
  gap: 32px;
  justify-content: center;
  flex: 1 1 auto;
}
.header__menu a {
  color: var(--dark);
  font-weight: 500;
}
.header__menu a:visited {
  color: var(--dark);
}
@media (min-width: 700px) {
  .header__menu {
    display: flex;
  }
}
.header__action-btn {
  background-color: rgba(41, 126, 226, 0.12);
  color: var(--main);
}

.logo {
  border-radius: 12px;
  width: 46px;
  height: 46px;
  overflow: hidden;
}

.mode-switcher {
  padding: 5px;
  margin-right: 10px;
  height: 100%;
  background-color: transparent;
}
.mode-switcher img {
  width: calc(24px + 8 * (100vw - 375px) / 1545);
}

body.dark-theme .header__menu a {
  color: white;
}
body.dark-theme .header__action-btn {
  color: white;
}

.intro {
  margin-top: 40px;
  padding-bottom: calc(116px + 24 * (100vw - 375px) / 1545);
}
.intro__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 700px) {
  .intro__wrapper {
    flex-direction: row;
    gap: 0;
  }
}
.intro__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 700px) {
  .intro__body {
    align-items: flex-start;
    flex-basis: calc(300px + 450 * (100vw - 375px) / 1545);
  }
}
.intro__title {
  font-size: calc(46px + 34 * (100vw - 375px) / 1545);
  letter-spacing: -2.4px;
}
@media (min-width: 700px) {
  .intro__title {
    text-align: left;
  }
}
.intro__text {
  margin-top: calc(24px + 8 * (100vw - 375px) / 1545);
  text-align: center;
  font-weight: 400;
}
@media (min-width: 700px) {
  .intro__text {
    text-align: left;
  }
}
.intro__action-btn {
  margin-top: calc(12px + 20 * (100vw - 375px) / 1545);
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-weight: 600;
}
@media (min-width: 700px) {
  .intro__action-btn {
    margin-left: 0;
  }
}
.intro__phone {
  flex: 1;
}

.intro-bots {
  margin-top: calc(24px + 32 * (100vw - 375px) / 1545);
}
.intro-bots__list {
  display: flex;
}
.intro-bots__item {
  width: calc(61px + 2 * (100vw - 375px) / 1545);
  height: calc(61px + 2 * (100vw - 375px) / 1545);
  border-width: calc(2px + 2 * (100vw - 375px) / 1545);
  border: 2px solid white;
  overflow: hidden;
  border-radius: 50%;
}
.intro-bots__item:not(:last-child) {
  margin-right: calc(-12px + -3 * (100vw - 375px) / 1545);
}
.intro-bots__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.intro-bots__text {
  margin-top: calc(14px + 2 * (100vw - 375px) / 1545);
  text-align: center;
}

.intro-phone {
  display: flex;
  justify-content: center;
}
.intro-phone img {
  width: calc(302px + 26 * (100vw - 375px) / 1545);
}

body.dark-theme .intro-bots__item {
  border-color: var(--dark);
}

.usecases {
  background-color: var(--dark-2);
  color: white;
  padding-top: calc(32px + 138 * (100vw - 375px) / 1545);
  padding-bottom: calc(32px + 138 * (100vw - 375px) / 1545);
}
.usecases__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
@media (min-width: 700px) {
  .usecases__wrapper {
    padding-bottom: 0;
    padding-right: 20px;
  }
}
.usecases .slider__slide:nth-child(1) .tg {
  background: linear-gradient(340deg, #faaca8 8.42%, #ddd6f3 91.45%);
}
.usecases .slider__slide:nth-child(2) .tg {
  background: linear-gradient(207deg, #fcb69f 6.91%, #ffecd2 92.45%);
}
.usecases .slider__slide:nth-child(3) .tg {
  background: linear-gradient(0deg, #c2e9fb -16.6%, #a1c4fd 106.15%);
}
@media (min-width: 700px) {
  .usecases .slider__slide {
    align-items: flex-start;
  }
}
.usecases .slider__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: -moz-min-content;
  width: min-content;
  flex: 1 1 auto;
  gap: 32px;
}
@media (min-width: 700px) {
  .usecases .slider__content {
    padding-bottom: 0;
    gap: calc(32px + 68 * (100vw - 375px) / 1545);
    flex-direction: row;
    width: auto;
  }
}
.usecases .tg {
  max-width: calc(100vw - 40px);
  max-height: calc(100vw - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(300px + 188 * (100vw - 375px) / 1545);
  width: calc(300px + 188 * (100vw - 375px) / 1545);
}
@media (min-width: 700px) {
  .usecases .tg {
    height: calc(260px + 228 * (100vw - 375px) / 1545);
    width: calc(260px + 228 * (100vw - 375px) / 1545);
  }
}
.usecases__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
@media (min-width: 700px) {
  .usecases__body {
    align-items: flex-start;
    padding-right: 20px;
  }
}
@media (min-width: 700px) {
  .usecases__title {
    text-align: left;
  }
}
.usecases__text {
  margin-top: calc(24px + 8 * (100vw - 375px) / 1545);
  text-align: center;
  flex: 1;
}
@media (min-width: 700px) {
  .usecases__text {
    text-align: left;
  }
}
.usecases__action-btn {
  width: 100%;
  margin: 32px 0;
}
@media (min-width: 700px) {
  .usecases__action-btn {
    width: auto;
  }
}
.usecases__pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 100%;
  width: calc(300px + 108 * (100vw - 375px) / 1545);
}
@media (min-width: 700px) {
  .usecases__pagination {
    bottom: auto;
    left: auto;
    right: 0;
    top: 50%;
    transform: translate(calc(50% - 10px), -50%) rotate(90deg);
  }
  .usecases__pagination .slider__cur-count,
  .usecases__pagination .slider__all-count {
    transform: rotate(-90deg);
  }
}

.slider {
  position: relative;
  overflow: hidden;
}
.slider__line {
  display: flex;
}
.slider__line.anim {
  animation: fade 0.6s forwards ease-out;
}
.slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider__wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}
.slider__dot {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.24);
  flex: 1 1 auto;
  border-radius: 90px;
}
.slider__dot.active-dot {
  pointer-events: none;
  background-color: var(--main);
}
.slider__cur-count, .slider__all-count {
  font-size: 14px;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.dark-theme .usecases {
  background-color: var(--dark-bg);
}

.features {
  padding-top: calc(80px + 64 * (100vw - 375px) / 1545);
  padding-bottom: calc(80px + 64 * (100vw - 375px) / 1545);
}
.features__grid {
  display: grid;
  gap: calc(16px + 4 * (100vw - 375px) / 1545);
}
@media (min-width: 700px) {
  .features__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .features__grid {
    grid-template-columns: 41% 18% 41%;
    width: calc(100% - 40px);
  }
}
.features__item {
  background-color: var(--light-bg);
  display: flex;
  flex-direction: column;
  padding: calc(32px + 10 * (100vw - 375px) / 1545);
  border-radius: calc(24px + 16 * (100vw - 375px) / 1545);
}
.features__item .text {
  margin-top: calc(16px + 4 * (100vw - 375px) / 1545);
}
.features__item .subtitle {
  margin-top: calc(20px + -4 * (100vw - 375px) / 1545);
}
.features__item .tg-msg {
  font-size: calc(10px + 9 * (100vw - 375px) / 1545);
}

.features-currencies {
  display: flex;
  flex-direction: column;
  gap: calc(24px + 18 * (100vw - 375px) / 1545);
}
@media (min-width: 700px) {
  .features-currencies {
    grid-column: span 2;
  }
}
@media (min-width: 900px) {
  .features-currencies {
    grid-column: span 3;
  }
}
.features-currencies__body {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
@media (min-width: 700px) {
  .features-currencies__body {
    justify-content: space-between;
    order: 1;
  }
}
.features-currencies__body .features-currencies-item {
  display: flex;
  flex: 0 0 25%;
}
.features-currencies__body .features-currencies-item:nth-child(n+5) {
  justify-content: flex-end;
}
.features-currencies__body .features-currencies-item__img {
  width: calc(56px + 40 * (100vw - 375px) / 1545);
  transition: transform 400ms;
}
.features-currencies__body .features-currencies-item__text {
  display: none;
}
@media (min-width: 700px) {
  .features-currencies__body .features-currencies-item__text {
    display: block;
    font-size: calc(12px + 2 * (100vw - 375px) / 1545);
    margin-top: calc(8px + 4 * (100vw - 375px) / 1545);
    color: rgba(0, 0, 0, 0.4);
    transition: color 400ms;
  }
}
.features-currencies__body .features-currencies-item.active .features-currencies-item__img {
  transform: scale(1.1);
}
.features-currencies__body .features-currencies-item.active .features-currencies-item__text {
  color: black;
}
@media (min-width: 700px) {
  .features-currencies__body .features-currencies-item {
    flex: 0 0 min-content;
    flex-direction: column;
    align-items: center;
  }
}
.features-currencies__title {
  margin-top: 0 !important;
}
.features-oneclick__body {
  position: relative;
  margin: 0 auto;
  margin-top: calc(23px + 14 * (100vw - 375px) / 1545);
  margin-bottom: calc(26px + 27 * (100vw - 375px) / 1545);
  display: flex;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
}
.features-oneclick__btn {
  border-radius: 17px;
  background: linear-gradient(240deg, rgba(41, 126, 226, 0.12) 3.57%, rgba(24, 97, 182, 0.12) 86.24%);
  font-size: calc(18px + 4 * (100vw - 375px) / 1545);
  padding: calc(16px + 2 * (100vw - 375px) / 1545);
  padding-left: calc(35px + 5 * (100vw - 375px) / 1545);
  padding-right: calc(35px + 5 * (100vw - 375px) / 1545);
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.features-oneclick__btn.anim {
  animation: btn-l 2s linear paused;
}
.features-oneclick__btn img {
  height: 1.4em;
  margin-right: 4px;
}
.features-oneclick__cursor {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(100%, 100%);
}
.features-oneclick__cursor svg {
  width: calc(38px + 8 * (100vw - 375px) / 1545);
}
.features-oneclick__cursor.anim {
  animation: cursor 2s 1 linear paused;
}
.features-rates__body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-rates__swap-list {
  width: 200px;
  height: calc(66px + 30 * (100vw - 375px) / 1545);
  width: calc(114px + 50 * (100vw - 375px) / 1545);
  position: relative;
}
.features-rates__item {
  width: calc(66px + 30 * (100vw - 375px) / 1545);
  height: calc(66px + 30 * (100vw - 375px) / 1545);
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition-duration: 0.7s;
  transition-property: transform, left;
}
.features-rates__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.features-rates__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: 0.7s opacity;
}
.features-rates__item:nth-child(1)::after {
  background: linear-gradient(25deg, #8ddad5 -22.31%, #1ba27a 65.28%);
}
.features-rates__item:nth-child(2)::after {
  background: linear-gradient(30deg, #ff930f -50.58%, #fbc411 93.3%);
}
.features-rates__item:nth-child(3)::after {
  background: linear-gradient(211deg, #04befe -2.24%, #4481eb 108.4%);
}
.features-rates__item[data-order="1"] {
  left: 0%;
  z-index: 1;
}
.features-rates__item[data-order="2"] {
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.features-rates__item[data-order="3"] {
  left: 100%;
  transform: translateX(-100%);
  z-index: 3;
}
.features-rates__item[data-order="3"]::after {
  opacity: 0;
}
.features-rates__swap-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 19px;
  border: 1px solid #fff;
  position: relative;
  padding: 4px;
  padding-left: calc(8px + 4 * (100vw - 375px) / 1545);
  padding-right: calc(8px + 4 * (100vw - 375px) / 1545);
  margin: 0 -16px;
  z-index: 10;
}
.features-rates__swap-btn svg {
  width: calc(14px + 5 * (100vw - 375px) / 1545);
}
.features-rates__swap-btn svg:nth-child(2) {
  transform: rotate(180deg);
}
.features-rates__dollar {
  width: calc(62px + 30 * (100vw - 375px) / 1545);
}
@media (min-width: 700px) {
  .features-statistics {
    grid-column: span 2;
  }
}
@media (min-width: 900px) {
  .features-statistics {
    grid-column: 2/span 2;
    grid-row: 2/span 2;
  }
}
.features-statistics__body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.features-statistics__body .tg {
  background: url("../img/tg-bg-1.jpg");
  padding-top: calc(24px + 23 * (100vw - 375px) / 1545);
  padding-bottom: calc(24px + 23 * (100vw - 375px) / 1545);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
@media (min-width: 500px) and (max-width: 900px) {
  .features-statistics__body .tg__wrapper {
    margin: 0 auto;
    width: clamp(336px, 5vw, 400px);
  }
}
.features-statistics__body .tg__msg-list {
  position: relative;
}
.features-statistics__body .tg__actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
}
.features-statistics__body .tg .tg-msg {
  border-radius: calc(9px + 7 * (100vw - 375px) / 1545);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  margin-bottom: 0;
  transition: 900ms opacity;
}
.features-statistics__body .tg .tg-msg.active {
  position: relative;
  z-index: 1;
  opacity: 1;
}
.features-statistics__body .tg .tg-action {
  background: rgba(54, 136, 194, 0.82);
  padding-top: calc(8px + 7 * (100vw - 375px) / 1545);
  padding-bottom: calc(8px + 7 * (100vw - 375px) / 1545);
  transition: 900ms background-color;
}
.features-statistics__body .tg .tg-action:nth-last-child(1), .features-statistics__body .tg .tg-action:nth-last-child(2) {
  grid-column: span 2;
}
.features-statistics__body .tg .tg-action.active {
  background-color: hsla(205, 56%, 40%, 0.82);
}
.features-statistics__body .tg .tg-action.active::before, .features-statistics__body .tg .tg-action.active::after {
  content: "·";
  margin: 0 4px;
}
.features-send {
  padding-top: 0;
}
@media (min-width: 900px) {
  .features-send {
    grid-column: span 2;
  }
}
.features-send__body {
  display: flex;
  justify-content: center;
}
.features-send__phone {
  width: calc(245px + 229 * (100vw - 375px) / 1545);
  height: calc(194px + 166 * (100vw - 375px) / 1545);
  background: url("../img/send-phone.png") center/contain no-repeat;
}
.features-send__notice-list {
  margin-left: calc(17px + 14 * (100vw - 375px) / 1545);
  margin-right: calc(17px + 14 * (100vw - 375px) / 1545);
  margin-top: calc(15px + 25 * (100vw - 375px) / 1545);
  height: calc(85px + 60 * (100vw - 375px) / 1545);
  position: relative;
}
.phone-notice {
  background: linear-gradient(98deg, #e8f2f9 15.04%, #e8f2f9 52.22%, #e9f1fa 90.93%);
  display: flex;
  align-items: center;
  gap: calc(7px + 6 * (100vw - 375px) / 1545);
  padding: 7px;
  border-radius: 13px;
  position: absolute;
  width: 100%;
  transition: 1.3s;
  transition-property: top, transform, opacity;
  overflow: hidden;
}
.phone-notice__image {
  position: relative;
}
.phone-notice__image-bot {
  border-radius: 50%;
  width: calc(22px + 19 * (100vw - 375px) / 1545);
  height: calc(22px + 19 * (100vw - 375px) / 1545);
}
.phone-notice__image-app {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: calc(10px + 8 * (100vw - 375px) / 1545);
  height: calc(10px + 8 * (100vw - 375px) / 1545);
}
.phone-notice__body .tg-msg {
  background-color: transparent;
  font-size: calc(9px + 8 * (100vw - 375px) / 1545);
  padding: 0;
}
.phone-notice__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.phone-notice__title {
  font-size: calc(9px + 8 * (100vw - 375px) / 1545);
  font-weight: 600;
}
.phone-notice__time {
  font-size: calc(7px + 6 * (100vw - 375px) / 1545);
  margin-right: 0.6em;
  color: #7b8992;
}
.phone-notice::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(98deg, #e8f2f9 15.04%, #e8f2f9 52.22%, #e9f1fa 90.93%);
}
.phone-notice[data-order="1"] {
  z-index: 1;
  top: 0%;
  transform: translateY(50%) scale(0.9);
  opacity: 0;
}
.phone-notice[data-order="2"] {
  z-index: 2;
  top: 35%;
  transform: translateY(-35%) scale(0.9);
  opacity: 0.7;
}
.phone-notice[data-order="2"]::after {
  opacity: 0.7;
}
.phone-notice[data-order="3"] {
  z-index: 3;
  top: 100%;
  transform: translateY(-100%) scale(1);
  opacity: 1;
}
.phone-notice[data-order="3"]::after {
  opacity: 0;
}

.features-anon__body {
  flex: 1;
}
.features-anon__body .tg {
  background: linear-gradient(233deg, #9fccfa -20.48%, #0974f1 97.38%);
  padding: calc(22px + 4 * (100vw - 375px) / 1545);
  padding-top: calc(24px + 24 * (100vw - 375px) / 1545);
  padding-bottom: calc(24px + 24 * (100vw - 375px) / 1545);
}
@media (min-width: 400px) and (max-width: 900px) {
  .features-anon__body .tg__wrapper {
    margin: 0 auto;
    width: min(100%, 266px);
  }
}
.features-anon__body .tg .tg__msg-list {
  position: relative;
  height: calc(112px + 41 * (100vw - 375px) / 1545);
}
.features-anon__body .tg .tg-msg {
  font-size: calc(11px + 7 * (100vw - 375px) / 1545);
  border-radius: calc(9px + 7 * (100vw - 375px) / 1545);
  position: absolute;
  transition: 1s;
  transition-property: top, transform, opacity;
}
.features-anon__body .tg .tg-msg::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  border-radius: 30px;
  transition: 1s opacity;
}
.features-anon__body .tg .tg-msg[data-order="1"] {
  z-index: 1;
  top: 0%;
  transform: translateY(50%) scale(0.9);
  opacity: 0;
}
.features-anon__body .tg .tg-msg[data-order="2"] {
  z-index: 2;
  top: 35%;
  transform: translateY(-35%) scale(0.9);
  opacity: 0.7;
}
.features-anon__body .tg .tg-msg[data-order="2"]::after {
  opacity: 0.9;
}
.features-anon__body .tg .tg-msg[data-order="3"] {
  z-index: 3;
  top: 100%;
  transform: translateY(-100%) scale(1);
  opacity: 1;
}
.features-anon__body .tg .tg-msg[data-order="3"]::after {
  opacity: 0;
}
body.dark-theme .features__item {
  background-color: var(--dark-bg);
}
body.dark-theme .features-currencies-item__text {
  color: rgba(255, 255, 255, 0.4);
}
body.dark-theme .features-currencies-item.active .features-currencies-item__text {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-theme .features-oneclick__btn {
  background: linear-gradient(233deg, #9fccfa -20.48%, #0974f1 97.38%);
}
body.dark-theme .features-oneclick__btn.anim {
  animation: btn-d 2s linear paused;
}
body.dark-theme .features-oneclick__cursor path {
  stroke: black;
}
body.dark-theme .features-rates__item {
  border-color: black;
}
body.dark-theme .features-rates__swap-btn {
  background: rgba(17, 17, 17, 0.4);
  border-color: #191919;
}
body.dark-theme .features-rates__swap-btn svg path {
  stroke: white;
}
body.dark-theme .features-send__phone {
  background: url("../img/send-phone-d.png") center/contain no-repeat;
}
body.dark-theme .features-send__phone .phone-notice {
  background: #222;
}
body.dark-theme .features-send__phone .phone-notice::after {
  background: #222;
}
body.dark-theme .features-send__phone .phone-notice .tg-msg {
  color: white;
}

@keyframes cursor {
  40% {
    transform: translate(20%, 50%);
  }
  60% {
    transform: translate(20%, 50%);
  }
  90% {
    transform: translate(100%, 100%);
  }
}
@keyframes btn-l {
  39% {
    background: linear-gradient(240deg, rgba(41, 126, 226, 0.12) 3.57%, rgba(24, 97, 182, 0.12) 86.24%);
    transform: scale(1);
  }
  40% {
    background: #d4e2f7;
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    background: #d4e2f7;
    transform: scale(1);
  }
  63% {
    background: linear-gradient(240deg, rgba(41, 126, 226, 0.12) 3.57%, rgba(24, 97, 182, 0.12) 86.24%);
  }
}
@keyframes btn-d {
  39% {
    background: linear-gradient(233deg, #9fccfa -20.48%, #0974f1 97.38%);
    transform: scale(1);
  }
  40% {
    background: linear-gradient(233deg, hsl(210, 90%, 60%) -20.48%, hsl(212, 93%, 29%) 97.38%);
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    background: linear-gradient(233deg, hsl(210, 90%, 60%) -20.48%, hsl(212, 93%, 29%) 97.38%);
    transform: scale(1);
  }
  63% {
    background: linear-gradient(233deg, #9fccfa -20.48%, #0974f1 97.38%);
  }
}
.start {
  padding-top: calc(32px + 88 * (100vw - 375px) / 1545);
  padding-bottom: calc(32px + 88 * (100vw - 375px) / 1545);
  background-color: var(--light-bg);
}
.start-step {
  display: grid;
  gap: 16px;
}
.start-step:not(:last-child) {
  margin-bottom: calc(24px + 16 * (100vw - 375px) / 1545);
}
.start-step .tg {
  align-items: center;
  height: calc(227px + 261 * (100vw - 375px) / 1545);
}
.start-step .tg .tg-msg {
  font-size: calc(13px + 6 * (100vw - 375px) / 1545);
}
.start-step .tg .tg__wrapper {
  max-width: 400px;
}
.start-step .tg .tg-code * {
  font-size: calc(13px + 5 * (100vw - 375px) / 1545);
}
.start-step:nth-child(1) {
  margin-top: calc(24px + 16 * (100vw - 375px) / 1545);
}
.start-step:nth-child(1) .tg {
  background: linear-gradient(297deg, #8ec5fc 8.25%, #e0c3fc 91.76%);
}
.start-step:nth-child(1) .tg .tg-action {
  background-color: #8198d1;
}
.start-step:nth-child(2) .tg {
  background: linear-gradient(207deg, #fcb69f 6.91%, #ffecd2 92.45%);
}
.start-step:nth-child(3) .tg {
  background: linear-gradient(0deg, #c2e9fb -16.6%, #a1c4fd 106.15%);
}
@media (min-width: 600px) {
  .start-step {
    grid-template-columns: repeat(2, 1fr);
  }
  .start-step .start-step__body {
    padding-left: calc(30px + 80 * (100vw - 375px) / 1545);
  }
  .start-step:nth-child(odd) .start-step__body {
    order: -1;
    padding-left: 0;
  }
}
.start-step__body {
  display: flex;
  gap: calc(16px + 4 * (100vw - 375px) / 1545);
}
@media (min-width: 600px) {
  .start-step__body {
    align-self: center;
    flex-direction: column;
  }
}
.start-step__number {
  background: linear-gradient(220deg, #010417 10.26%, #2b333f 84.25%), linear-gradient(46deg, #000 15.89%, #434343 171.16%);
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex: 0 0 auto;
  width: calc(36px + 28 * (100vw - 375px) / 1545);
  height: calc(36px + 28 * (100vw - 375px) / 1545);
  font-size: calc(24px + 18 * (100vw - 375px) / 1545);
}
.start-step__text-block {
  display: flex;
  flex-direction: column;
  gap: calc(16px + 4 * (100vw - 375px) / 1545);
}
.start-step__ol {
  padding-left: 1.2em;
}
.start-step__ul {
  padding-left: 1.2em;
  list-style-type: disc;
  color: var(--main);
}
.start-step__ul span {
  color: var(--dark);
}

body.dark-theme .start {
  background-color: var(--dark-bg);
}
body.dark-theme .start-step__number {
  background: white;
  color: var(--dark);
}
body.dark-theme .start-step__ul span {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-theme .start-step__text {
  color: rgba(255, 255, 255, 0.8);
}

.api {
  padding-top: calc(80px + 40 * (100vw - 375px) / 1545);
  padding-bottom: calc(80px + 40 * (100vw - 375px) / 1545);
}
.api__wrapper {
  background: url("../img/api-bg-mob.jpg") center/cover no-repeat;
  color: white;
  padding: calc(28px + 52 * (100vw - 375px) / 1545);
  padding-bottom: 28px;
  padding-top: 290px;
  border-radius: calc(24px + 16 * (100vw - 375px) / 1545);
}
@media (min-width: 700px) {
  .api__wrapper {
    background: url("../img/api-bg.jpg") center/cover no-repeat;
    padding-top: calc(30px + 97 * (100vw - 375px) / 1545);
    padding-bottom: calc(30px + 97 * (100vw - 375px) / 1545);
  }
}
.api__body {
  display: flex;
  flex-direction: column;
  gap: calc(24px + 8 * (100vw - 375px) / 1545);
}
@media (min-width: 700px) {
  .api__body {
    width: -moz-min-content;
    width: min-content;
  }
}
.api__title {
  text-align: left;
  white-space: nowrap;
}
@media (min-width: 700px) {
  .api__api-btn {
    width: -moz-max-content;
    width: max-content;
  }
}

.community {
  padding-bottom: calc(40px + 40 * (100vw - 375px) / 1545);
  border-radius: calc(24px + 16 * (100vw - 375px) / 1545);
  position: relative;
  background-color: #fff;
}
.community__text {
  text-align: center;
  margin-top: 24px;
}
.community__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 12px;
  margin-top: calc(24px + 16 * (100vw - 375px) / 1545);
}
.community__action-btn {
  margin: 0 auto;
  margin-top: calc(24px + 16 * (100vw - 375px) / 1545);
  display: block;
}

.community-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.community-item__image {
  width: calc(63px + 33 * (100vw - 375px) / 1545);
  height: calc(63px + 33 * (100vw - 375px) / 1545);
}
.community-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.community-item__text {
  text-align: center;
}

body.dark-theme .community {
  background-color: var(--dark);
}

.footer {
  background-color: var(--dark-bg);
  padding-top: calc(56px + 64 * (100vw - 375px) / 1545);
  padding-bottom: calc(32px + 8 * (100vw - 375px) / 1545);
  margin-top: calc(-24px + -16 * (100vw - 375px) / 1545);
  color: white;
}
.footer__copyright {
  margin-top: 24px;
  color: white;
}

.dn {
  display: none;
}